@import 'variables';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background: black;
  overflow: hidden;
  color: white;

  font-family: sans-serif;
}

#app {
  display: grid;
  background: red;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-background;

  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    'left header'
    'left content';

  &.sidebar-active {
    grid-template-columns: 250px 1fr 300px;
    grid-template-areas: 
      'left header right'
      'left content right';
  }

  & > .header {
    grid-area: header;
    background: $color-darker;
    display: flex;

    button.material-icons {
      width: 60px;
    }

    input {
      margin-left: 1rem;
    }
  }

  & > .left-sidebar {
    grid-area: left;
    background: $color-darker;

    .board-wrapper {
      display: flex;
      flex-direction: column;

      .board {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2rem 1rem;
        background: $color-darker;
        user-select: none;

        &:hover {
          background: $color-darkest;
        }
      }
    }
  }

  & > .right-sidebar {
    grid-area: right;
    background: $color-darker;
  }

  & > #content {
    grid-area: content;
    position: relative;
  }
}

.button {
  background: $color-lighter;
  color: white;
  border: none;
  user-select: none;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $color-darkest;
  min-width: 400px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &.unfocused {
    user-select: none;
    opacity: 0.85;
  }

  .header {
    margin: 0;
    height: 30px;
    background: $color-darkest;
    display: flex;
    justify-content: space-between;

    .button-group {
      display: flex;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      user-select: none;
    }

    button {
      justify-self: flex-end;
    }
  }

  .content {
    min-height: 300px;
    max-height: 500px;
    padding: 1rem;
    text-align: left;
    overflow-x: auto;

    &.no-padding {
      padding: 0;
    }
  }

  input {
    width: 100%;
    padding: 0.25rem;
  }
}

textarea {
  background: $color-lighter;
  color: white;
  width: 100%;
  border: none;
  padding: 0.5rem;
  min-height: 250px;
  resize: none;
}

input[type='color'] {
  height: 30px;
  background: $color-lighter;
  width: 100%;
  border: none;
}
label {
  margin: 0.25rem 0;
  display: block;
}

.delete-confirmation {
  text-align: center;
  
  button {
    padding: 1rem;
  }
}

input {
  background: $color-lighter;
  padding: 1rem;
  border: none;
  color: white;
}